*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: aqua;
}

.header{
    height: 15vh;
    padding-inline: 1px;
    background-color: red;
}

.nav{
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 150px;
    height: 150px;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 3vw;
    margin-right: 20em;
}

.nav-list a{
    font-size: 6ch;
    color: white;
    padding-block: 16px;
}

.nav-list a:hover{
    color: gold;
}