*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    cursor: none !important;
}

@keyframes pulsar { 
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

a{
    text-decoration: none;
}

a, button, .leitura {
    cursor: none !important;
}

body{
    background-color: #6DE4F9;
    font-family: "Margarine", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    cursor: none;
}

.header{
    position: absolute;
    height: 25vh;
    background-image: linear-gradient(to bottom, #00b3ff, #6de4f900);
}

.nav{
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.nav .logo{
    position: relative;
    z-index: 10;
    height: 40vh;
}

.logo img{
    width: 300px;
    height: auto;
}

.logo img:hover{
    animation: pulsar 1s infinite;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 3vw;
    margin-right: 27vw;
    height: 10vh;
}

.nav-list a{
    font-size: 5ch;
    color: white;
    padding-block: 16px;
    transition: 0.3s ease;
}

.nav-list a:hover{
    color: #FEE764;
    transition: 0.3s ease;
}

.nuvem{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 16%;
    top: 32%;
}

.nuvem2{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 40%;
    top: 40%;
}

.nuvem3{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 10%;
    top: 30%;
}

main{
    flex: 1;
    position: relative;
    display: inline-block;
}

.morro{
    display: block;
    position: relative;
    z-index: -1;
    margin-top: 50vh;
    width: 100vw;
    height: auto;
}

.texto-footer{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 98%;
    font-size: 2em;
    color: white;
}

.footer{
    position: relative;
    z-index: 10;
    height: 100px;
    width: 100vw;
    background-color: rgba(90, 35, 21, 0.514);
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.leitura{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background 0.3s;
}
        
.leitura:hover {
    background-color: #080202;
}

#legenda-container{
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 9999;
}

.legenda-box{

    display: flex;
    align-items: center;
    gap: 10px;

    background: linear-gradient(135deg,#4fc3f7,#81c784);

    padding: 15px 25px;

    border-radius: 20px;

    font-size: 22px;
    font-weight: bold;

    color: white;

    box-shadow: 0 6px 20px rgba(0,0,0,0.25);

    font-family: "Margarine", cursive;

    opacity: 0;
    transform: translateY(20px) scale(0.9);

    transition: all 0.4s ease;

    max-width: 600px;
    text-align: center;
}

.legenda-box.ativa{

    opacity: 1;
    transform: translateY(0) scale(1);

}

.icone-audio{

    font-size: 26px;
    animation: pulso 1s infinite;

}

#cursor-personalizado{
    position: fixed;
    width: 120px;
    height: 120px;

    background-image: url("../imgs/mouse.png");
    background-size: contain;
    background-repeat: no-repeat;

    pointer-events: none;
    z-index: 9999;

    left: 0;
    top: 0;
}

[vw-access-button]{
    width: 110px !important;
    height: 110px !important;
    border-radius: 20px;
    transform: scale(1.1);
}

[vw]{
    position: fixed !important;
    top: 120px;
    right: 20px;
    z-index: 9999;
}

@keyframes pulso{

    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}

}